kind: Pod
apiVersion: v1
metadata:
  name: kube-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-proxy
    image: {{image}}:{{tag}}
    command:
      - /hyperkube
      - proxy
      - --master=http://{{master_ip}}
    securityContext:
      privileged: true
